<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035825578092-ulhl83v5lqhql5fk9qknscu1es2hbop5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035825578092-ulhl83v5lqhql5fk9qknscu1es2hbop5</string>
	<key>API_KEY</key>
	<string>AIzaSyA2jL0P1y2jNux5Tr4cfijGuHZSLmJCXnI</string>
	<key>GCM_SENDER_ID</key>
	<string>1035825578092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spikeFirebase</string>
	<key>PROJECT_ID</key>
	<string>pruebalucas-98609</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebalucas-98609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035825578092:ios:3191389f27f402e825d849</string>
</dict>
</plist>